{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<h1>Contact Messages</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

    {% for msg in messages_list %}
    <tr>
        <td>{{ msg.name }}</td>
        <td>{{ msg.email }}</td>
        <td>{{ msg.subject }}</td>
        <td>{{ msg.date_sent }}</td>
        <td>
            {% if msg.is_read %}
                Read
            {% else %}
                Unread
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}