{% extends 'admin/base.html' %}
{% load static %}


{% block content %}
<h1>Orders</h1>

<table>
    <tr>
        <th>Reference</th>
        <th>Customer</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>{{ order.reference }}</td>
        <td>{{ order.full_name }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.phone }}</td>
        <td>₦{{ order.amount }}</td>
        <td>{{ order.status }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}